---
import Layout from '../layouts/Layout.astro';
import ImageSection from '../components/ImageSection.astro';
import SummarySection from '../components/SummarySection.astro';
import IngredientsSection from '../components/IngredientsSection.astro';
import Line from '../components/Line.astro';
import InstructionsSection from '../components/InstructionsSection.astro';
import NutritionSection from '../components/NutritionSection.astro';
---

<Layout>
	<main>
		<ImageSection />
		<SummarySection />
		<IngredientsSection />
		<Line />
		<InstructionsSection />
		<Line />
		<NutritionSection />

	</main>
</Layout>

<style>
	main{
		width: 100vw;
		max-width: 736px;
		background-color: var(--bg-color-secundary);
		padding: 40px;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		border-radius: 16px;
	}
	hr{
		color: black;
	}
		@media(max-width: 500px) {
		main{
			margin-top: 0;
			margin-bottom: 0;
			padding: 0;
			max-width: none;
			border-radius: 0;
		}
	}

</style>