---

---

<section>
    <img src="img/image-omelette.jpg" alt="">
</section>

<style>

    section img{
        width: 100%;
        background-position: center;
        background-position: center;
        background-size: contain;
        border-radius: 16px;
    }
    @media(max-width: 500px) {
        section img{
            border-radius: 0;
        }
    }
</style>