---

---
<section>
    <div class="summary ">
        <h1>Simple Omelette Recipe</h1>
        <p class="outfit-font">An easy and quick dish, perfect for any meal. This classic omelette combines beaten eggs cooked to perfection, optionally filled with your choice of cheese, vegetables, or meats.</p>
    </div>
    <div class="preparation-time">
        <h3 class="outfit-font">Preparation time</h3>
        <ul>
            <li>
                <p>
                    <span>Total</span>: Approximately 10 minutes
                </p>
            </li>
            <li>
                <p>
                    <span>Preparation</span>: 5 minutes
                </p>
            </li>
            <li>
                <p>
                    <span>Cooking</span>: 5 minutes
                </p>
            </li>
        </ul>
    </div>
</section>

<style>
    section{
        margin-top: -10px;
    }
    
    .summary h1{
        color: var(--font-color-bold);
        font-size: 2.5rem;
    }
    .summary p{
        margin-top: -16px;
        color: var(--font-color-light);
        font-size: 1rem;
        font-weight: 500;
    }
    .preparation-time{
        margin-top: 30px;
        width: 100%;
        background-color: var(--especial-bg-color);
        padding: 30px;
        border-radius: 16px;
    }
    .preparation-time h3{
        color: var(--especial-title-color);
        font-size: 1.325rem;
        font-weight: 600;
    }
    .preparation-time ul {
      padding-left: 20px;

    }
    .preparation-time ul li {
        color: var(--especial-title-color);
        font-size: 0.8rem;
    }
    .preparation-time ul li p{
        font-size: 1rem;
        margin-left: 25px;
        color: var(--font-color-light);
    }
    .preparation-time ul li p span{
        font-weight: 700;
    }

</style>